.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__contact-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
    padding: 0 69px;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
    margin-bottom: 0;
  }
}

.footer__contacts {
  // margin-bottom: 60px;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__logo-container {
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-adress__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-adress__link {
  display: block;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);

  &--white {
    color: var(--white-color);
  }

  &--gray {
    color: var(--gray-color-60);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer-social__title {
  margin-bottom: 20px;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

// .footer-social__item {
//   &:not(:last-child) {
//     margin-right: 10px;
//   }
// }

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white-color);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-form__title {
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-form__form {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.footer-form__input {
  width: 100%;

  padding-left: 17px;
  color: white;

  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;

  &::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: var(--gray-color-60);
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    width: 450px;
    margin: 0 auto 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0 10px 0 0;
  }
}
.footer-form__button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 10px 28px;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}
